@model List<Figurita>

@{
    ViewData["Title"] = "Abrir Sobre";
}

<header>
    <h1>Abrir Sobre</h1>
</header>

<main>
    <form action="/Home/Confirmar" method="post">

        <section class="layout">
            @foreach(Figurita f in Model)
            {
                <div class="figurita-card">
                    <h3>Figurita @f.IdFigurita</h3>

                    <img src="/imagenes/@f.Imagen" width="120" alt="@f.Nombre @f.Apellido">

                    <p><strong>@f.Nombre @f.Apellido</strong></p>
                    <p>@f.Pais</p>

                    @if(f.Pegada)
                    {
                        <p class="estado repetida">Repetida</p>
                    }
                    else
                    {
                        <p>
                            <input type="checkbox" name="pegar" value="@f.IdFigurita"> Pegar
                        </p>
                    }
                </div>
            }
        </section>

        <div class="acciones">
            <input type="submit" class="btn-confirmar" value="Confirmar">
        </div>

    </form>
</main>