@model List<Figurita> 

@{
    ViewData["Title"] = "Álbum del Mundial";
}

<header>
    <img src="/img/logo.png" width="120" alt="Logo Álbum">

    <h1>Álbum del Mundial</h1>

    <a href='@Url.Action("AbrirSobre","Home")'>
        Abrir Sobre
    </a>
</header>

<main>
    <p>
        Figuritas pegadas:
        @ViewBag.TotalPegadas / @ViewBag.TotalFiguritas
    </p>

    <section class="layout">
        @foreach(Figurita f in Model)
        {
            <div class="figurita-card">
                <h3>Figurita @f.IdFigurita</h3>
                
                <img src="/imagenes/@f.Imagen" alt="@f.Nombre @f.Apellido">

                <p><strong>@f.Nombre @f.Apellido</strong></p>
                <p>@f.Pais</p>

                @if(f.Pegada)
                {
                    <p class="estado pegada">Pegada</p>
                }
                else
                {
                    <p class="estado falta">Falta</p>
                }
            </div>
        }
    </section>
</main>

<footer>
    <p>TP Álbum del Mundial - 2026</p>
</footer>