@{
    ViewData["Title"] = "Álbum del Mundial";
}

<h1>Álbum del Mundial</h1>

<p>
    Figuritas pegadas: @ViewBag.TotalPegadas / @ViewBag.TotalFiguritas
</p>

<a class="btn btn-primary" asp-action="AbrirSobre">Abrir Sobre</a>
<a class="btn btn-success" asp-action="BaseFiguritas">Base de Figuritas</a>
<a class="btn btn-warning" asp-action="Repetidas">Repetidas</a>

<hr>

<div class="row">

@foreach(var f in ViewBag.Figuritas)
{
    <div class="col-md-3">

        <div class="card mb-3">

            <img src="~/images/@f.Imagen" class="card-img-top">

            <div class="card-body">

                <h5>@f.Nombre</h5>

                <p>Id Figurita: @f.IdFigurita</p>

                <p>Jugador: @f.IdJugador</p>

                <p>País: @f.IdPais</p>

            </div>

        </div>

    </div>
}

</div>